# Chuwi FreeBook & MiniBook X Sensor Support Configuration
CONFIG_SERIAL_MULTI_INSTANTIATE=m
CONFIG_MXC4005=m
CONFIG_INPUT_UINPUT=y
CONFIG_IIO=y
CONFIG_IIO_BUFFER=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_IIO_TRIGGERED_BUFFER=m
CONFIG_IIO_SYSFS_TRIGGER=m
CONFIG_IIO_HRTIMER_TRIGGER=m
CONFIG_CHUWI_MINIBOOK_X=m
CONFIG_I2C_DESIGNWARE_PLATFORM=y
CONFIG_I2C_DESIGNWARE_PCI=y
CONFIG_I2C_HID_ACPI=m
CONFIG_HID_MULTITOUCH=m
CONFIG_INTEL_HID=m
CONFIG_KEYBOARD_ATKBD=y
CONFIG_SERIO_I8042=y

# External Storage & Filesystems
CONFIG_EXFAT_FS=m
CONFIG_NTFS3_FS=m
CONFIG_NTFS3_FS_POSIX_ACL=y
CONFIG_ISO9660_FS=m
CONFIG_JOLIET=y
CONFIG_ZISOFS=y
CONFIG_UDF_FS=m
CONFIG_NLS_CODEPAGE_866=m

# USB Type-C Multiplexer, Role Switch & USB4/Thunderbolt for Intel Alder Lake
CONFIG_INTEL_SCU_PLATFORM=m
CONFIG_TYPEC_MUX_INTEL_PMC=m
CONFIG_USB_ROLES_INTEL_XHCI=m
CONFIG_USB4=m
