# Chuwi FreeBook & MiniBook X Sensor Support Configuration
CONFIG_SERIAL_MULTI_INSTANTIATE=m
CONFIG_MXC4005=m
CONFIG_INPUT_UINPUT=y
CONFIG_IIO=y
CONFIG_IIO_BUFFER=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_IIO_TRIGGERED_BUFFER=m
CONFIG_CHUWI_MINIBOOK_X=m
CONFIG_I2C_DESIGNWARE_PLATFORM=y
CONFIG_I2C_DESIGNWARE_PCI=y
CONFIG_I2C_HID_ACPI=m
CONFIG_HID_MULTITOUCH=m
CONFIG_INTEL_HID=m
CONFIG_KEYBOARD_ATKBD=y
CONFIG_SERIO_I8042=y
