[Unit]
Description=Chuwi FreeBook and MiniBook X Tablet Mode Daemon
Documentation=https://github.com/greymouser/minibook-x-tools
After=systemd-modules-load.service

[Service]
Type=simple
EnvironmentFile=-/etc/default/cmxd
ExecStart=/usr/sbin/cmxd $CMXD_OPTS
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
